process.executor = 'slurm'

params {
    inputDir = '/groups/umcg-weersma/tmp01/projects/gut_eqtl_meta_analysis/processed/rna/alignment/output/both'
    cohortName = '1000IBD'
    pcaOutlierZScoreThreshold = 3
    outDir = '/groups/umcg-weersma/tmp01/projects/gut_eqtl_meta_analysis/processed/rna/qc/output/'
}


clone the repository
git clone https://github.com/joost011/RNA-seq_QC_pipeline

go into the bin folder and place the nextflow binary there
cd RNA-seq_QC_pipeline/bin
curl -s https://get.sdkman.io | bash
download and place the eqtl-mapping-pipeline.jar and 2023-12-08-Regression.jar here as well

make these and the other files executable
chmod u+x *

go back up one directory 
cd ../

(load conda if it is a module that is not loaded by default)
conda create -n rnaseq_env
conda install -n rnaseq_env pip
conda activate rnaseq_env
pip install  scipy pandas

(load R if it is a module that is not loaded by default)
start R
R
install optparse
install.packages('optparse')
install.packages('edgeR')
install.packages('R.utils')
if (!require("BiocManager", quietly = TRUE))
    install.packages("BiocManager")
BiocManager::install("edgeR")
exit R
exit()

copy the nextflow.config to a new file to modify
cp nextflow.config nextflow_cohort.config

open the nextflow_cohort.config file in your favourite text editor and set the inputDir to be the folder that contains the output of the alignment pipeline (the folder that contains the cram/fastqc/leafcutter/mark_duplicates etc. folders)
set the cohort name to a name that reflects this dataset
set the output directory to where you want the output to be placed

start the pipeline
bin/nextflow -C nextflow_cohort.config run main.nf -resume
